.background{
	-fx-background-image: url("/image/bg1.jpg");
	-fx-background-repeat: no-repeat no-repeat;
 	-fx-background-position:  center;
 	-fx-background-size: cover;
}

.samples{
	-fx-min-width: 85.0px; 
	-fx-min-height: 85.0px;  
	-fx-pref-height: 45.0px;
	-fx-max-height: 45.0px;
	-fx-pref-width: 45.0px;
	-fx-background-repeat: no-repeat no-repeat;   
	-fx-background-position:center;
    -fx-effect: dropshadow( three-pass-box , rgba(10,10,10,10) , 3, 1 ,1, 1);/* weich ,,rechts,unten*/
}

.sample1{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(175,255,119)15% , rgb(0,255,25) 75%)
}
.sample2{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(150,255,235)15% , rgb(0,255,205) 75%)
}
.sample3{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(65,65,170)15% , rgb(0,0,150) 75%)
}
.sample4{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(255,80,150)15% , rgb(255,0,105) 75%)
}
.sample5{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(255,102,204)15% , rgb(255,0,205) 75%)
}
.sample6{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(205,90,245)15% , rgb(185,0,255) 75%)
}

.speedGroup{
	-fx-text-fill:black;
	-fx-font-size: 17.0 ;
	-fx-font-weight: bold;
 	-fx-font-family: 'Comic Sans MS';
	-fx-min-width: 55.0px; 
	-fx-min-height: 40.0px;  
	-fx-pref-width: 35.0px;
	-fx-pref-height: 20.0px;
	-fx-background-repeat: no-repeat no-repeat;   
	-fx-background-position:center;
	-fx-border-radius:5.0px; 
	-fx-effect: dropshadow( three-pass-box , rgba(10,10,10,10) , 3, 1 ,1, 1);
	-fx-alignment: center;
}
.speed{
 	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(150,255,235)15% , rgb(1,230,230) 75%);
}

.speedPushed{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(65,250,215)15% , rgb(5,195,195) 75%);
}

.control-button{
	-fx-min-width: 50.0px; 
	-fx-min-height: 45.0px;  
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(150,255,235)15% , rgb(1,230,230) 75%);
	-fx-background-repeat: no-repeat no-repeat;   
	-fx-background-position:center;
	-fx-border-radius:5.0px; 
	-fx-effect: dropshadow( three-pass-box , rgba(10,10,10,10) , 3, 1 ,1, 1);
}
.play{
	-fx-background-image: url("/image/play.png");	
}
.loop{
	-fx-background-image: url("/image/loop.png");
}
.pause{
	-fx-background-image: url("/image/pause.png");	
}
.pushLoop{
	-fx-background-image: url("/image/loop.png");
	-fx-min-width: 48.0px; 
	-fx-min-height: 43.0px;
	-fx-effect: dropshadow( three-pass-box , rgba(10,10,10,10) , 4, 2 ,2, 2);
	
}
.tune .thumb{
	-fx-background-image: url("/image/regulator.png");
	-fx-background-color: transparent;
	-fx-background-size:20px 50px; 
	-fx-pref-width: 50;
	-fx-pref-height: 50;
	-fx-background-repeat: no-repeat no-repeat;   
	-fx-background-position:center;
}
.tune{
	-fx-min-height:100;
	-fx-pref-height: 200;
}

#tuneName{
	-fx-font-size: 16.0 ;
 	-fx-font-family: 'Courgette';
 	-fx-text-fill:rgb(0,255,205);
}

#volume .thumb{
	-fx-background-image :url("/image/regulator.png"); 
    -fx-background-color: transparent;
    -fx-background-size: 20px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-height: 50;
    -fx-pref-width:50;
}

#setting{
	-fx-background-image: url("/image/settings.png");
	-fx-background-color: transparent;
    -fx-background-size: 70px 70px;  
	-fx-pref-width: 70;
	-fx-pref-height: 70;
	-fx-background-repeat: no-repeat no-repeat;   
	-fx-background-position:center;	
}
#playlist{
	-fx-max-width:230px;
	-fx-max-height:300px;
	-fx-pref-height: 200;
    -fx-pref-width:130;
    -fx-font-size: 12.0 ;
 	-fx-font-family: 'Lucida Bright';
 	-fx-control-inner-background:black;
	-fx-effect: dropshadow( three-pass-box , rgb(0,255,205) , 2, 0.5 ,0.5, 0.5);
}

#playlist-title{
	-fx-text-fill:blue;	
}
#playlist-interpret{
	-fx-text-fill:darkgrey;
}
#settingPlaylist{
	-fx-max-width:300px;
	-fx-max-height:370px;
    -fx-pref-width:200;
    -fx-pref-height: 270;
    -fx-font-size: 15.0 ;
 	-fx-font-family: 'Lucida Bright';
 	-fx-control-inner-background:black;
	-fx-effect: dropshadow( three-pass-box , rgb(0,255,205) , 2, 0.5 ,0.5, 0.5);
	
}
#title{
	-fx-font-size: 15.0 ;
 	-fx-font-family: 'Lucida Bright';
 	-fx-text-fill:white;
	
}
#slider .track{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(150,255,235)15% , rgb(0,255,205) 75%);
}
#slider .thumb{
	-fx-background-color:radial-gradient(  center 50% 50%, radius 80%, rgb(0,255,205)5% , rgb(35,35,35) 75%);
}
#slider{
	-fx-min-width:100;
	-fx-pref-width: 250;
}
#loadFile{
	-fx-background-image: url("/image/input.png");
 	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}
#check{
	-fx-background-image: url("/image/check.png");
 	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}
#save{
	-fx-background-image: url("/image/save.png");
 	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}

#back{
	-fx-background-image: url("/image/back.png");
 	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}
#delete{
	-fx-background-image: url("/image/delete.png");
	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}
#labels{
	-fx-text-fill: grey;
	-fx-font-size: 12.0 ;
 	-fx-font-family: 'Courgette';
}
#folder{
	-fx-background-image: url("/image/folder.png");
 	-fx-background-size:30,30;
 	-fx-pref-height: 30.0px;
	-fx-min-height: 35.0px;
	-fx-pref-width: 30.0px;
	-fx-min-width: 35.0px;
	-fx-background-repeat:stretch;
	-fx-background-position:center;
	-fx-background-color: transparent;
}

#createPlaylist{
	-fx-max-width:530px;
	-fx-max-height:600px;
    -fx-pref-width:430;
    -fx-pref-height: 500;
    -fx-font-size: 18.0 ;
 	-fx-font-family: 'Lucida Bright';
 	-fx-text-fill:white;
 	-fx-control-inner-background:black;
	-fx-effect: dropshadow( three-pass-box , rgb(0,255,205) , 2, 0.5 ,0.5, 0.5);
}
#playlistLabel{
	-fx-text-fill: grey;
	-fx-font-size: 18.0 ;
 	-fx-font-family: 'Courgette';
}
#info{
	-fx-font-size: 18.0 ;
 	-fx-font-family: 'Courgette';
 	-fx-text-fill:rgb(0, 255, 205);	
}









